# directories
evm/cache
evm/coverage
node_modules
evm/out

# All env files except the common.example.env
*.common.env

# files
*.log
.DS_Store
.pnp.*
lcov.info
package-lock.json
pnpm-lock.yaml
yarn.lock

airdrop_data.json

# broadcasts
*/broadcast/*
