# directories
evm/cache
evm/coverage
node_modules
evm/out

# All env files except the common.example.env
*.common.env
.common.env
*.secret
*.key
*secrets*
.env.local
.env.production

# files
*.log
.DS_Store
.pnp.*
lcov.info
package-lock.json
pnpm-lock.yaml
yarn.lock

airdrop_data.json

# broadcasts
*/broadcast/*
evm/.common.env
