# Common directories
node_modules
dist
build
coverage
.DS_Store

# Common files
*.env
*.log
.pnp.*
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lockb
lcov.info
slither-results.json

# EVM specific
evm/broadcast
evm/cache
evm/out
evm/lib

# Solana specific
.anchor
target
test-ledger
